<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILogService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3009/LogService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILogService" contract="LogService.ILogService"
                name="BasicHttpBinding_ILogService" />
        </client>
    </system.serviceModel>
</configuration>